/* Light Theme */
:root.light-theme {
    --bg-color: #F5F5F5;
    --text-color: #333;
    --primary-color: #007BFF;
    --secondary-color: #6C757D;
    --border-color: #E0E0E0;
    --footer-color: grey;
}

/* Dark Theme */
:root.dark-theme {
    --bg-color: #1E1E1E;
    --text-color: #D1D1D1;
    --primary-color: #BB86FC;
    --secondary-color: #3700B3;
    --border-color: #444;
    --footer-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar, .footer {
    background: var(--bg-color);
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.navbar a, .footer a {
    margin: 0 15px;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover, .footer a:hover {
    color: var(--secondary-color);
}

.login-form, .register-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: var(--bg-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background: #fff;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

button {
    padding: 10px 20px;
    background: var(--primary-color);
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: var(--secondary-color);
}

.switch-theme-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: var(--primary-color);
    border: none;
    color: var(--bg-color);
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 5px;
    z-index: 1000;
}

.switch-theme-btn:hover {
    background: var(--secondary-color);
}
