/* Light Theme */
:root.light-theme {
    --bg-color: #FFFFFF;
    --text-color: #333333;
    --primary-color: #BB86FC;
    --secondary-color: #3700B3;
}

/* Dark Theme */
:root.dark-theme {
    --bg-color: #1E1E1E;
    --text-color: #D1D1D1;
    --primary-color: #BB86FC;
    --secondary-color: #3700B3;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar, .footer {
    background: var(--bg-color);
    padding: 10px;
    text-align: center;
}

.navbar a, .footer a {
    margin: 0 15px;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover, .footer a:hover {
    color: var(--secondary-color);
}

.login-form, .register-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background: var(--bg-color);
}

input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primary-color);
    color: var(--text-color);
}

button {
    padding: 10px 20px;
    background: var(--primary-color);
    border: none;
    color: var(--bg-color);
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: var(--secondary-color);
}

.switch-theme-btn {
    position: fixed;  /* Fix the position relative to the viewport */
    bottom: 20px;     /* 20px from the bottom */
    right: 20px;      /* 20px from the right */
    padding: 10px 20px;
    background: var(--primary-color);
    border: none;
    color: var(--bg-color);
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 5px; /* Rounded corners */
    z-index: 1000;      /* Ensure it's above other elements */
}

.switch-theme-btn:hover {
    background: var(--secondary-color);
}
